*
!/.gitignore
!/src/
!/src/scripts/
!/src/scripts/*.js
!/src/*.html
!/package.json
!/compiler.js
!/updater.js
!/src/scripts/utils/
!/src/scripts/utils/*.js
!/utils/
!/utils/*.js
!/rh.txt
!/installer.nsi
!/NextFuel.ico
!/version.rc